.flex-container{
    justify-content: center;
    align-items: center;
    min-height: 24em;
    display:flex;
}

.flex-text-container{
    overflow-y:scroll;
    max-height:18vh; 
    max-width:50vw;
    display:flex;
}

.flex-item{
    max-width: 80%;
}

.sideBySideForm{
display: inline-block;
}

.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}

.view-btn{
    margin-top:8px;
    margin-bottom:8px;
    margin-left:5px;
    margin-right:5px;          
}

.img-icon{
    margin-top:8px;
    margin-bottom:8px;
    margin-right:8px;
    float:left;
    border-radius: 50%;
    width:32px;
    height:32px;
}

.div1 {
    border: 2px solid #a6a6a6;
    box-sizing: border-box;
    padding-left: 20px;
    padding-left: 10px;  
}
