<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Px</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shirnk-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/index.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="img-icon" src="./img/bike_icon.jpeg">;
                    <a class="navbar-brand" href="/index">Px</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/index">Home</a></li>
		    <li><a href="/login">Log In</a></li>
                    <li class="active"><a href="/signup">Sign Up</a></li>
                </ul>
            </div>
        </nav>	

        <div class="view" id="view-login">
            <div class="container">
                <div class="login flex-container">
	            <br> <br> <br> <br> <br> <br> <br>
                    <form action="/index"> 
                        <center> 
                        <img class="img" src="./img/check.png"> <br> <br> 
                        </center>
                        <p> Your account has been sent in to be reviewed by an administrator. Expect a phone call within 3 to 5 business days. <br><br> </p> 
                        <p> <strong><font color="#6699ff">Px</font></strong> is the new software to easily send a referral.   </p>
                        <be> <br>
                        <center> 
                        <button type="submit" onclick="location.href='/index'" class="btn btn-default">Return to Home</button><br>
                                 
            <p id="error"></p>
                        </center>
                        <p id="error"></p>
                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>
