<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Px</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shirnk-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/index.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="img-icon" src="img/bike_icon.jpeg">;
                    <a class="navbar-brand" href="/index">Px</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">Home</a></li>
		    <li><a href="/login">Log In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                </ul>

            </div>
        </nav>	
        <div class="view" id="view-main">
            <div class="container">
	        <div class="graphics">
                    <div align="right">
	                <h1> Explore. </h1>
	                <h1> Search. </h1>
	                <h2> Rent a bike anywhere.</h2>
	            </div>
	            <br> <br>
                    <h2> About <font color="#6699ff"> BikeRack </font> </h2>
	            <div class="div1">
	                <br>
	                <p> While on vacation, tourists may find it difficult and expensive to rent 
                        cars and purchase insurance if they lack an international driving license. 
                        Public transit can also be difficult to navigate in foreign languages. Public 
                        bike sharing systems breaches the barrier of other expensive transit options 
                        and offers a healthier alternative to exploration. </p>
                        <p> <strong> <font color="#6699ff">BikeRack </font> </strong> allows users to 
                        pre-plan their destinations by locating city bike stations worldwide, allowing 
                        for an eco-friendly, affordable method of transit while travelling.</p>
                        <br>
	            </div> 
                    <h2> Usage </h2>
	            <div class="div1">
	                <br>
	                <p> Use our search feature and enter a city, country or company name. 
                        <strong><font color="#6699ff">BikeRack</font> </strong> will display
	                a list of bike sharing stations based on your input. 
	                <br> By selecting <font color="#9966ff">city</font> or <font color="#9966ff">
                        country</font>, view all bike sharing stations within the vicinity.
	                <br> By selecting <font color="#9966ff">company</font>, view all locations 
                        that the company services. 
	                <br>  <br> 
 	                Optionally, create an account with us by signing up, or log in if you already 
                        have an account to access additional features!</p>
                        <br> Note: Search country by its abbreviation. 
                        <br> <br>
	            </div>
	            <br>
	            <br>
                    <p align="right"> <strong><font color="#6699ff">BikeRack</font> </strong> is a project 
                    created by a team of 2 university students at the University of Toronto. </p>
	        </div> 
            </div>
        </div>       
    </body>
</html>
