<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Px</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shirnk-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/index.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="img-icon" src="./img/bike_icon.jpeg">;
                    <a class="navbar-brand">Px</a>
                </div>
                <ul class="nav navbar-nav">
		        <li><a href="/search">Search</a></li> 
	            <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
        </nav>	

        <div class="view" id="view-user">
            <div class="container">
		      <div class="graphics">
                <br> <br>
                    <h2> Where to find <font color="#6699ff"> Dr. Wey Leong </font> </h2>
                <div class="div1">
                    <br>
                    <p> Location: </p> 
                    <p> Hospital for Sick Children </p> <br> 
                    <p> Address: </p>
                    <P> 555 University Avenue <p> 
                    <p> Toronto, Ontario </p>
                    <p> M5G 1X8 </p>
                    
                        <br>
                </div> 
                    <h2> Current Waitlist and Hours of Operation </h2>
                <div class="div1">
                    <br>
                    <p> Hours: </p> 
                    <p> Monday to Thursday: 10:00AM - 5:00PM </p>
                    <p> Friday: 12:00AM - 5:00PM </p>
                    <p> Weekends and Holidays: CLOSED </p>
                    <br> 
                    <p> The CURRENT WAITLIST for Dr. Wey Leong is 18 people, or approximately 2 months. </p>
                </div>
                <br>
                <br>
                    <form action="/patient" method="get"> 
                            <p> Want to send a referral to Dr. Wey Leong? </p>
                            <button type="submit" class="btn btn-default">Send Referral</button><br><br> 
                    </form>
            </div> 
            </div>
        </div>
        
    </body>
</html>
